[submodule "docs/cwl-snap-graph-runner"]
	path = docs/cwl-snap-graph-runner
	url = https://github.com/cwl-for-eo/cwl-snap-graph-runner.git
[submodule "docs/stac"]
	path = docs/stac
	url = https://github.com/cwl-for-eo/stac.git
[submodule "docs/gdal"]
	path = docs/gdal
	url = https://github.com/cwl-for-eo/gdal.git
[submodule "docs/otb"]
	path = docs/otb
	url = https://github.com/cwl-for-eo/otb.git
